<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
<<<<<<< HEAD
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
=======
>>>>>>> 77dba5e4877dbdbbc7ba3a28efa58f1cf6407983
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
    <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Message Board</a>
      </div>
    </div>
  </nav>
<div class="container">
    <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% end %>
    
    <%= yield %>
  </div>
=======

<%= yield %>

>>>>>>> 77dba5e4877dbdbbc7ba3a28efa58f1cf6407983
</body>
</html>
